<section>
    <h2>Share observations Information</h2>

    <form class="new-observations-form">
        <div>
            <label for="observations_name">Name of observations</label>
            <input type="text" id="observations_name" name="observations_name" />
        </div>
        <div>
            <label for="observations_category">Type of observations</label>
            <input type="text" id="observations_category" name="observations_category" />
        </div>
        <div>
            <label for="cost">observations Cost:</label>
            <input type="text" id="cost" name="cost" />
        </div>
        <button type="submit">Create</button>
    </form>
</section>

{{#if observations.length}}
<section>
    <h2>Your observations</h2>
    <ol>
        {{#each observations as |observations|}}
        <li>
            {{> observations-info observations}}
            <a href="/dashboard/edit/{{observations.id}}" class="edit-link">Edit observations</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-observations.js"></script>