<h2>Observations Information</h2>
<div class="container">
<ul class="observations-list row" style="list-style: none">
    {{#each observations as |observations|}}
    <li class="col-sm-12 col-md-6 col-lg-6 my-3">
        {{> observations-info observations}}
    </li>
    {{/each}}
</ul>
</div>
